@model Details

<div class="card">
    @if (Model.Plot == null)
    {
    <a asp-action="Details" asp-controller="Home" asp-route-id="@Model.imdbID">
        <img src="@Model.Poster" onerror="event.target.src='/images/post.png'" class="card-img-top" alt="...">
    </a>
    }
    else
    {
        <img src="@Model.Poster" class="card-img-top" alt="...">
    }
<div class="img-div block card-body">
    <h5 class="card-title">@Model.Title &nbsp</h5>
    <p class="card-text">@Model.Year. &nbsp</p>
    @if (Model.Plot == null)
    {
<div class="show">
    <a movie="@Model"></a>
    @*<movie-detail movie="@Model"></movie-detail>*@
    @*<a asp-controller="Home" asp-action="Details" asp-route-id="@Model.imdbID" class="btn btn-primary">Show Details</a>*@
</div>
    }
</div>
</div>

@section Scripts{
    <script>

$('img').on('error', function () {
    $(this).attr('src', '/images/post.png');
    console.log("Error");
});
    </script>
}